@import url("base.css");

.wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}

video {
    -webkit-box-shadow: 0 0 1px 3px rgba(0, 0, 0, 0.1);
    box-shadow: 0 0 1px 3px rgba(0, 0, 0, 0.1);
}

.speed {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 4rem;
    background: #efefef;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
    margin: 1rem;
    border-radius: 2rem;
    -webkit-box-shadow: 0 0 0.1rem 0.3rem rgba(0, 0, 0, 0.1);
    box-shadow: 0 0 0.1rem 0.3rem rgba(0, 0, 0, 0.1);
    overflow: hidden;
}

.speed-bar {
    width: 100%;
    background: -o-linear-gradient(260deg, #2376ae 0%, #c16ecf 100%);
    background: linear-gradient(-170deg, #2376ae 0%, #c16ecf 100%);
    text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.2);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    padding: 0.2rem;
    color: white;
    height: 16.3%;
}
