:root {
	--color: #ffa500;
	--spacing: 5px;
	--blur: 10px;
	--brightness: 50%;
	--contrast: 100%;
}
body {
	position: inherit;
	margin: 0;
	height: 100%;
	width: 100%;
	background: #010508;
	color: white;
	font-family: "Andale Mono", monospace;
	font-weight: 100;
	font-size: 2rem;
}

.controls {
	position: relative;
}

input {
	width: 100%;
}

td {
	position: relative;
	width: 10%;
	font-size: 1rem;
}

.body-body {
	position: relative;
	top: auto;
	height: 100%;
	width: 100%;
}
.left-frame {
	position: fixed;
	left: 0%;
	top: auto;
	width: 23%;
	height: 80%;
	padding: 1%;
}
.right-frame {
	position: fixed;
	left: 25%;
	top: auto;
	width: 73%;
	height: 80%;
	padding: 1%;
}

img {
	position: relative;
	display: block;
	margin-left: auto;
	margin-right: auto;
	padding: var(--spacing);
	background: var(--color);
	filter: blur(var(--blur)) brightness(var(--brightness)) contrast(var(--contrast));
}

.highlight {
	color: var(--color);
}
